    	<!-- header -->
      <header role="header">
        <div class="container">
            <!-- logo -->
                <h1>
                  <a class="navbar-brand" routerLink="/" title="Inicio">
                    <img src="images/app/logo.svg" title="fg - DG" alt="fg - DG" class="logo-svg"/>
                  </a>      
                  </h1>
              <!-- logo -->
              <!-- nav -->
              <nav role="header-nav" class="navy" [ngClass]="isMenuCollapsed ? '' : 'menu-open'">
                <div id="menu-button" (click)="clickEvent()" [ngClass]="isMenuCollapsed ? '' : 'open'"><span></span><span></span><span></span>Flavia Giuistino - DG</div>
                  <ul [ngClass]="isMenuCollapsed ? '' : 'open'">
                    <li><a routerLink="/about" title="MARCA PERSONAL" (click)="clickEvent()">MARCA PERSONAL</a></li>
                    <li><a routerLink="/" title="TRABAJOS" (click)="clickEvent()">TRABAJOS</a></li>
                    <li><a routerLink="/service" title="HACER" (click)="clickEvent()">HACER</a></li>
                    <li><a routerLink="/contact" title="CONTACTO" (click)="clickEvent()">CONTACTO</a></li>
                  </ul>
              </nav>
              <!-- nav -->
          </div>
      </header>
  <!-- header -->