<!-- header -->
<header role="header">
  <div class="container">
    <!-- logo -->
          <h1>
              <a routerLink="/" title="Inicio">
                <img src="images/app/logo.svg" title="fg - DG" alt="fg - DG" class="logo-svg"/>
              </a>
          </h1>
      <!-- logo -->
      <!-- nav -->
      <nav role="header-nav">
        <ul>
            <li><a routerLink="/about" title="Sobre mi">Sobre mí</a></li>
            <li><a routerLink="/philosophy" title="Filosofia">Filosofía</a></li>
            <li><a routerLink="/contact" title="Contacto">Contacto</a></li>
          </ul>
      </nav>
      <!-- nav -->
  </div>
</header>
<!-- header -->
