<!-- footer -->
<footer role="footer">
  <!-- logo -->
      <h1>
          <a routerLink="/" title="Inicio"><img src="images/app/logo.svg" title="fg - DG" alt="fg - DG"/></a>
      </h1>
  <!-- logo -->
  <!-- nav -->
  <nav role="footer-nav">
    <ul>
        <li><a routerLink="/about" title="MARCA PERSONAL">MARCA PERSONAL</a></li>
        <li><a routerLink="/" title="TRABAJOS">TRABAJOS</a></li>
        <li><a routerLink="/service" title="HACER">HACER</a></li>
        <li><a routerLink="/contact" title="CONTACTO">CONTACTO</a></li>
    </ul>
  </nav>
  <!-- nav -->
  <ul role="social-icons">
    <li *ngFor="let item of contact?.social">
      <a [href]="item.url" target="_blank"><i [className]="'fa ' + item.fa" aria-hidden="true"></i></a>
    </li>
  </ul>
</footer>
<!-- footer -->
