<!-- footer -->
<footer role="footer">
  <!-- logo -->
      <h1>
          <a routerLink="/" title="Inicio"><img src="images/app/logo.svg" title="fg - DG" alt="fg - DG"/></a>
      </h1>
  <!-- logo -->
  <!-- nav -->
  <nav role="footer-nav">
    <ul>
        <li><a routerLink="/about" title="MARCA PERSONAL">MARCA PERSONAL</a></li>
        <li><a routerLink="/" title="TRABAJOS">TRABAJOS</a></li>
        <li><a routerLink="/service" title="HACER">HACER</a></li>
        <li><a routerLink="/contact" title="CONTACTO">CONTACTO</a></li>
    </ul>
  </nav>
  <!-- nav -->
  <ul role="social-icons">
    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  </ul>
</footer>
<!-- footer -->
