<!-- footer -->
<footer role="footer">
  <!-- logo -->
      <h1>
          <a routerLink="/" title="Inicio"><img src="images/app/logo.png" title="fg - DG" alt="fg - DG"/></a>
      </h1>
  <!-- logo -->
  <!-- nav -->
  <nav role="footer-nav">
    <ul>
        <li><a routerLink="/" title="Inicio">Inicio</a></li>
          <li><a routerLink="/about" title="Sobre mi">Sobre mí</a></li>
          <li><a routerLink="/philosophy" title="Filosofia">Filosofía</a></li>
          <li><a routerLink="/contact" title="Contacto">Contacto</a></li>
      </ul>
  </nav>
  <!-- nav -->
  <ul role="social-icons">
    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  </ul>
</footer>
<!-- footer -->
