<main role="main-inner-wrapper" class="container">
  <!-- service -->
      <div class="work-details">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4">
                  <header role="work-title">
                      <h2>{{service?.title}}</h2>
                      <h3>{{service?.largeDescription}}</h3>
                  </header>
                  <img [src]="service?.image" alt="" class="img-responsive"/>
                </div>
              <div class="col-xs-12 col-sm-12 col-md-8">
                  <section>
                    <p *ngFor="let detail of service?.details"><i class="fa fa-chevron-right" aria-hidden="true"></i> {{detail}}</p>
                  </section>
              </div>
          </div>
          <div class="clearfix"></div>
          <div class="work-images grid">
              <ul class="grid-lod effect-2" id="grid">
                  <li *ngFor="let image of service?.images" animateOnScroll animationName="shown animate">
                      <img [src]="image" alt="" class="img-responsive"/>
                  </li>
              </ul>
          </div>
          <div class="clearfix"></div>
      </div>
  <!-- service -->
</main>