<main role="main-inner-wrapper" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <article role="pge-title-content" class="contact-header">
                <header>
                    <h2>{{contact?.title}}</h2>
                </header>
                <p>
                    <a href="tel:{{contact?.phone}}" class="phone">{{contact?.phone}}</a>
                </p>
                <p>
                    <a href="mailto:{{contact?.email}}">{{contact?.email}}</a>
                </p>
                    <ul role="social-icons">
                        <li *ngFor="let item of contact?.social">
                            <a [href]="item.url" target="_blank"><i [className]="'fa ' + item.fa" aria-hidden="true"></i></a>
                        </li>
                    </ul>
            </article>
        </div>
        <div class="clearfix"></div>
    </div>
</main>